<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3">
      <!-- Profile -->
      <div class="w3-card w3-round w3-white">
        <div class="w3-container">
         <h4 class="w3-center">Profile</h4>
         <p class="w3-center"><img src="assets/images/avatar3.png" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
         <hr>
         <div *ngIf="user">
         <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> Name : {{user.name}}</p>
         <p><i class="fa fa-envelope-square fa-fw w3-margin-right w3-text-theme"></i>{{user.email}}</p>
         <p><i class="fa fa-mobile fa-fw w3-margin-right w3-text-theme"></i> {{user.mobile}} </p>
        </div>
        </div>
      </div>
      <br>

      <!-- Accordion -->
      <div class="w3-card w3-round">
        <div class="w3-white">
          <button (click)="myFunction('Details1')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> My Details</button>
          <div id="Details1" class="w3-hide w3-container">
            <p>
              <button (click)="addProfileUser()" class="">
              <i class="fa fa-user-plus"></i>
              </button>
              <i class="fa fa-user"></i>
            </p>
          </div>
          <button (click)="myFunction('Demo2')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-calendar-check-o fa-fw w3-margin-right"></i> Appointment History</button>
          <div id="Demo2" class="w3-hide w3-container">
            <p>..</p>
          </div>
          <button (click)="myFunction('Demo3')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-users fa-fw w3-margin-right"></i> My Medical Record</button>
          <div id="Demo3" class="w3-hide w3-container">
              <div class="w3-row-padding">
               <br>
                <div class="w3-half">
                  <!-- <img src="assets/images/abc.jpg" style="width:100%" class="w3-margin-bottom"> -->
                </div>
              </div>
          </div>
          <button (click)="myFunction('Demo4')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-calendar-check-o fa-fw w3-margin-right"></i>My Dependants and Carers</button>
          <div id="Demo4" class="w3-hide w3-container">
            <p>..</p>
          </div>
          <button (click)="myFunction('Demo5')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-user-md fa-fw w3-margin-right"></i>My Surgery</button>
          <div id="Demo5" class="w3-hide w3-container">
            <p>..</p>
          </div>

        </div>
      </div>
      <br>



    <!-- End Left Column -->
    </div>

    <!-- Middle Column -->
    <div class="w3-col m7">

      <div class="w3-row-padding">
        <div class="w3-col m12">
          <div class="w3-card w3-round w3-white">
            <div *ngIf="showSelected" class="w3-container w3-padding">
              <h6 class="w3-opacity">
                  add Profile
              </h6>
              <form (submit)="onProfileSubmit()" >
              <div class="fields-container">
                <!-- <label for="name">Name</label>
                <input type="text" [(ngModel)]="name" name="name" class="form-control" id="name" placeholder="Enter Name">
                 -->
                <mat-form-field>
                  <input matInput placeholder="Name"  id="name" [(ngModel)]="name"  name="name" >
                </mat-form-field>
              </div>
              <div class="form-group">
                <label for="mobile">mobile</label>
                <input type="text" [(ngModel)]="mobile" name="mobile" class="form-control" id="mobile" placeholder="Enter mobile">
              </div>
              <div class="form-group">
                <mat-form-field class="form-control">
                  <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker touchUi="true" #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" [(ngModel)]="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter Email">
              </div>
              <div class="form-group">
                <label for="gender">gender</label>
                <input type="text" [(ngModel)]="gender" name="gender" class="form-control" id="gender" placeholder="Enter gender">
              </div>
              <div class="form-group">
                <label for="Address">Address</label>
                <input type="text" [(ngModel)]="Address" name="Address" class="form-control" id="Address" placeholder="Enter Address">
              </div>
              <div class="form-group">
                <label for="Pin">Pin</label>
                <input type="text" [(ngModel)]="Pin" name="Pin" class="form-control" id="Pin" placeholder="Enter Pin">
              </div>
              <div class="form-group">
                <label for="Image">Image</label>
                <input type="text" [(ngModel)]="Image" name="Image" class="form-control" id="Image" placeholder="Enter Pin">
              </div>
              <input type="submit" class="btn btn-primary" value="Submit">
            </form>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="w3-container w3-card w3-white w3-round w3-margin"><br>

        <span class="w3-right w3-opacity"></span>


      </div> -->





    <!-- End Middle Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-col m2">
      <div class="w3-card w3-round w3-white w3-center">
        <div class="w3-container">
          <p>Upcoming Events:</p>
          <img src="assets/images/avatar3.png" alt="Forest" style="width:100%;">
          <p><strong></strong></p>
          <p></p>
          <p><button class="w3-button w3-block w3-theme-l4"></button></p>
        </div>
      </div>
      <br>

      <div class="w3-card w3-round w3-white w3-center">
        <div class="w3-container">

          <div class="w3-row w3-opacity">
            <div class="w3-half">
              <button class="w3-button w3-block w3-green w3-section" title="Accept"><i class="fa fa-check"></i></button>
            </div>
            <div class="w3-half">
              <button class="w3-button w3-block w3-red w3-section" title="Decline"><i class="fa fa-remove"></i></button>
            </div>
          </div>
        </div>
      </div>
      <br>




    <!-- End Right Column -->
    </div>

  <!-- End Grid -->
  </div>

<!-- End Page Container -->
</div>
<br>
